
@media (min-width: 1220px) {

/*Header*/

/*.main-page-header {
	min-height: 508px;
	padding: 16px 0 152px;
}

.logo {
	margin-right: 50px;
	width: 124px;
	height: 111px;
}

.main-nav {
	float: left;
	margin-top: 7px;
	min-height: 96px;
	clear: none;
	min-width: auto;
	padding: 0 80px;
}

.main-nav li {
	font-size: 18px;
	margin-right: 60px;
	line-height: 96px;
}

.contacts-header {
	margin-top: 7px;
}

.phones {
	margin-bottom: 14px;
}*/


/*about us*/

/*.about-us {
	min-height: 527px;
}*/

/*About us - photos*/

/*.about-us-photos {
	position: absolute;
	right: 0;
	font-size: 0;
	height: 515px;
	width: 50%;
	padding-left: 15px;
}

.abous-us_img {
	display: inline-block;
	margin-right: 1%;
}

.abous-us_img-1 {
	width: 37%;
	height: 339px;
	background: url(../img/about-us-1.jpg) no-repeat 50% 50%;
	-webkit-background-size: cover;
	background-size: cover;
	margin-bottom: 8px;
}

.abous-us_img-2 {
	width: 62%;
	height: 339px;
	background: url(../img/about-us-2.jpg) no-repeat 50% 50%;
	-webkit-background-size: cover;
	background-size: cover;
	margin-right: 0;
	margin-bottom: 8px;
}

.abous-us_img-3 {
	width: 37%;
	height: 166px;
	background: url(../img/about-us-3.jpg) no-repeat 50% 50%;
	-webkit-background-size: cover;
	background-size: cover;
}

.abous-us_img-4 {
	width: 30.5%;
	background: url(../img/about-us-4.jpg) no-repeat 50% 50%;
	height: 166px;
	-webkit-background-size: cover;
	background-size: cover;
}

.abous-us_img-5 {
	width: 30.5%;
	margin-right: 0;
	background: url(../img/about-us-5.jpg) no-repeat 50% 50%;
	height: 166px;
	-webkit-background-size: cover;
	background-size: cover;
}*/

/*Services*/


/*.service-item {
	height: 350px;
}

.service-item-title {
	font-size: 36px;
	width: 250px;
}

.service-hover {
	height: 350px;
}
*/
/*Promo*/

/*.promo {
	padding: 55px 0;
}

.promo-text {
	display: block;
	line-height: 30px;
	margin-bottom: 45px;
}

.promo-text-adaptive {
	display: none;
}*/

/*Team*/

/*.team .team-member {
	font-size: 34px;
	width: 19.2%;
	margin-right: 1%;
	vertical-align: middle;
	position: relative;
	display: inline-block;
}

.team-member:last-child {
	margin-right: 0;
}

.team-member_hover {
	font-size: 34px;
	line-height: 40px;
}*/

/*Reviews*/

/*
.review-author {
	margin-right: 6.35%;
	width: 24%;
}

.review-author img {
	width: 275px;
	height: 275px;
}

.review-text {
	width: 60%;
	padding: 0 55px;
}

.adaptive-hide {
	display: block;
}

.review-text:before, .review-text:after {
	width: 25px;
	height: 23px;

}

.review-prev, .review-next {
	display: block !important;
}

.review-prev {
	position: absolute;
	right: 0;
	top: 0;
	background: url(../img/sprites.png) no-repeat -70px 0;
	width: 68px;
	height: 38px;
}

.review-prev:hover {
	background: url(../img/sprites.png) no-repeat -70px -50px;
}

.review-next {
	position: absolute;
	right: 0;
	bottom: 0;
	background: url(../img/sprites.png) no-repeat 0 0;
	width: 68px;
	height: 38px;
}

.review-next:hover {
	background: url(../img/sprites.png) no-repeat 0 -50px;
}
*/


/*Footer*/

/*.main-page-footer {
	min-height: 574px;
	padding: 31px 0 40px;
}

.contacts-footer {
	width: 85%;
}

.feedback {
	min-height: 443px;
}*/

/*Feedback form*/

/*.feedback-btn {
	min-width: 203px;
	position: absolute;
	bottom: 0;
	margin: 0;
}
}
*/

/*End main page*/




/*Catalog of courses page*/

/*.main-nav-inner-pages {
	background: rgba(78,168,250, 0.2);
}

.course-name {
	vertical-align: middle;
	height: 90px;
	width: auto;
	line-height: 90px;
	padding-top: 0;
}

.courses-nav_item:nth-child(3) .course-name {
	padding-top: 0;
}
*/
/*courses-slider*/

/*.all-courses {
	min-height: 715px;
	padding: 93px 0 90px;
}

.owl-item {
	width: 375px;
}

.course-item {
	width: 375px;
	margin: 18px auto;
}

.client-courses-wrap {
	padding: 0;
}

.owl-item.active div > a{
	margin-top: -20px;
	height: 540px;
	width: 404px;
	margin-left: -15px;
}

.course-item a{
	width: 375px;
}

.course-title {
	font-size: 24px;
}

.owl-prev {
	position: absolute;
	background: url(../img/sprites.png) no-repeat -150px 0;
	width: 30px;
	height: 56px;
	left: -50px;
	top: 210px;
	cursor: pointer;
}

.owl-prev:hover {
	background: url(../img/sprites.png) no-repeat -180px 0;
}

.owl-next {
	position: absolute;
	background: url(../img/sprites.png) no-repeat -215px 0;
	width: 30px;
	height: 56px;
	cursor: pointer;
	right: -50px;
	top: 210px;
}

.owl-next:hover {
	background: url(../img/sprites.png) no-repeat -250px 0;
}*/

/*End courses-slider*/

/*.offers {
	padding-bottom: 73px;
	min-height: 430px;
}

.learning {
	min-height: 445px;
	padding: 46px 0;
	background-color: #e86b0c;
}

.hide {
	display: block;
}

.video-container iframe {
	position: static;
	height: 360px;
}

.learning-title {
	color: #fff;
	line-height: 24px;
	margin-bottom: 50px;
}

.learning-text {
	line-height: 30px;
	color: #fff;
}

.courses-promo {
	min-height: 355px;
	padding: 90px 0 80px;
}

.courses-promo-text {
	margin-bottom: 25px;
}

.page-footer {
	min-height: 78px;
}
*/

/*End catalog page*/


/*Single course page*/

.single-course {
	min-height: 480px;
}

.single-course-title {
/*	text-align: center;
	font-weight: 400;*/
	font-size: 36px;
/*	color: #fff;
	height: 90px;
	line-height: 90px;
	background: #e86b0c;*/
}

.single-course-info {
	height: 390px;
	background: url(../img/bg_single-course.jpg) no-repeat 50% 50%;
	-webkit-background-size: cover;
	background-size: cover;
	position: relative;
}

.single-course-numbers {
	padding-top: 20px;
}

.single-course-numbers span {
	font-size: 36px;
	width: 25%;
}

.single-course-text {
	position: absolute;
	right: 0;
	bottom: 35px;
	color: #fff;
	width: 595px;
	font-size: 24px;
	line-height: 35px;
}

.single-course-text span {
	display: inline-block;
	background-color: #13152e;
	padding: 0 5px;
	line-height: 33px;
}

.single-course-details {
	min-height: 515px;
	padding: 45px 0 65px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/*lessons tabs*/

.lesson-tabs {
	list-style: none;
	margin-bottom: 30px;
	font-size: 0;
}

.lesson__number {
	display: inline-block;
	vertical-align: middle;
	font-size: 18px;
	margin-right: 5px;
}

.lesson__number:last-child {
	margin-right: 0;
}

.lesson-tabs-link {
	display: inline-block;
	height: 60px;
	border: 1px solid #949494;
	min-width: 60px;
	padding: 0 10px 0 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	text-align: center;
	line-height: 60px;
	color: #949494;
	cursor: pointer;
}

li.current {
	background-color: #13152e;
	color: #fff;
	border: 1px solid transparent;
}

.lesson-title {
	text-align: center;
	font-size: 24px;
	color: #e86b0c;
	margin-bottom: 20px;
}

.lesson-text {
	line-height: 30px;
	margin-bottom: 30px;
}

.lesson-text:last-child {
	margin-bottom: 0;
}


.tab-content{
	display: none;
}

.tab-content.current{
	display: inherit;
}


/*lesson details*/

.accordeon__item {
	background: #f9f7f7;
	margin-bottom: 10px;
}

.lesson-details_title {
	display: block;
	line-height: 60px;
	height: 60px;
	background-color: #eee;
	color: #949494;
	padding-left: 17px;
  transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
	cursor: pointer;
}

.lesson-details-active {
	background-color: #e86b0c;
	color: #fff;
}

.lesson-details_title:before {
	content: '';
	display: inline-block;
	vertical-align: middle;
	width: 20px;
	height: 20px;
	margin-right: 10px;
	background-image: url(../img/sprites.png);
	background-position: -330px -50px;
}

.lesson-details-active:before {
	background-image: url(../img/sprites.png);
	background-position: -300px -50px ;
}

.lesson-details_text {
	padding: 10px 0 30px 15px;
}

.single-course-promo-text {
	font-size: 24px;
}


/*pop up styles*/
.img-replace {
  /* replace text with an image */
  display: inline-block;
  overflow: hidden;
  text-indent: 100%;
  color: transparent;
  white-space: nowrap;
}

.cd-popup {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(44,48,49,0.39);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0.3s;
  -moz-transition: opacity 0.3s 0s, visibility 0s 0.3s;
  transition: opacity 0.3s 0s, visibility 0s 0.3s;
	z-index: 20;
}
.cd-popup.is-visible {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0s;
  -moz-transition: opacity 0.3s 0s, visibility 0s 0s;
  transition: opacity 0.3s 0s, visibility 0s 0s;
}

.cd-popup-container {
  position: relative;
  width: 725px;
  margin: 1em auto;
  background: #FFF;
  text-align: left;
	padding: 0 65px 45px 65px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);

  -webkit-transform: translateY(-40px);
  -moz-transform: translateY(-40px);
  -ms-transform: translateY(-40px);
  -o-transform: translateY(-40px);
  transform: translateY(-40px);
  /* Force Hardware Acceleration in WebKit */
  -webkit-backface-visibility: hidden;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.cd-popup-container p {
	font-family: 'Roboto Slab', serif;
	font-size: 24px;
	line-height: 20px;
  	padding: 50px 0;
	text-align: center;
}
.cd-popup-container .cd-buttons:after {
  content: "";
  display: table;
  clear: both;
}
.cd-popup-container .cd-buttons li {
  float: right;
  list-style: none;
}
.cd-popup-container .cd-buttons a {
  display: block;
  color: #FFF;
  -webkit-transition: background-color 0.2s;
  -moz-transition: background-color 0.2s;
  transition: background-color 0.2s;
}

.cd-popup-container .cd-popup-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
}

.cd-popup-container .cd-popup-close::before, .cd-popup-container .cd-popup-close::after {
  content: '';
  position: absolute;
  top: 12px;
  width: 14px;
  height: 3px;
  background-color: #8f9cb5;
}

.cd-popup-container .cd-popup-close::before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  left: 8px;
}
.cd-popup-container .cd-popup-close::after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  right: 8px;
}
.is-visible .cd-popup-container {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}

.form-row {
	margin-bottom: 15px;
	font-weight: 300;
}

.form-field {
	width: 280px;
}

.form-field:first-child {
	margin-right: 30px;
}

.comment {
	font-size: 12px;
}

.narrow-size {
	width: 25.5%;
	margin-right: 10.5%;
}

.mid-size {
	width: 62%;
}

.max-size {
	width: 100%;
}

select, input, textarea {
	border: 0;
	background: #f9f7f7;
}


.owl-carousel.off {
    display: block;
}

}