@media screen and (max-width: 767px) {

/*	.logo {
		margin-left: 10px;
		margin-right: 35px;
	}

	.contacts-header {
		margin-right: 10px;
	}

	.adaptive-wrap {
		display: block;
		z-index: 5;
	}

	.main-nav {
		display: none;
	}

	.adaptive-nav {
		display: none;
	}*/

/*	.header-title {
		font-size: 24px;
		line-height: 36px;
		margin-left: 10px;
	}

	.header-subtitle {
		font-size: 18px;
		width: 320px;
		line-height: 30px;
		margin-left: 10px;
	}

	.header-subtitle span {
		padding: 3px;
	}*/

/*	.about-us {
		min-height: 820px;
	}

	.about-us-photos {
		height: 145px;
	}

	.photos-wrap {
		height: 145px;
	}

	.abous-us_img {
		height: 145px;
	}*/

/*	.service-item {
		width: 96%;
		margin-bottom: 30px;
		margin-right: 2%;
		margin-left: 2%;
	}
	.service-item:last-child {
		margin-bottom: 0;
	}*/
/*
	.promo-text {
		display: none;
	}

	.promo-text-adaptive {
		display: block;
		width: 96%;
	}*/

/*	.team-member, .team-member_hover {
		width: 170px;
		height: 170px;
		font-size: 20px;
		line-height: normal;
	}

	.team-member img {
		width: 170px;
		height: 170px;
	}


	.reviews {
		min-height: 243px;
	}

	.review-author {
		display: none;
	}*/

/*	.review-prev, .review-next {
		position: relative;
		display: none !important;
	}

	.review-text {
		width: 100%;
		font-size: 18px;
		padding: 0 34px;
	}

	.slick-slider {
		min-height: 170px;
	}

	.slick-dots {
		width: 100%;
		margin: 0;
	}*/


/*
	.feedback-btn {
		left: 0;
		right: 0;
		margin: 0 auto;
		width: 216px;
	}

	.copywrite, .socials {
		text-align: center;
	}

	.socials {
		margin-top: 24px;
	}*/

/*pop up*/

	.hide-field {
		display: none;
	}

	.cd-popup-container {
		width: 320px;
		margin: 1em auto;
		padding: 0 22px 30px 22px;
	}

	.cd-popup-container p {
		padding: 35px 0;
		line-height: 30px;
	}

	.form-row {
		margin-bottom: 0;
	}

	.form-field {
		margin-bottom: 15px;
	}

	.cd-popup-container .cd-buttons li {
		float: left;
		margin-top: 30px;
	}


/*End main page*/



/*All courses page*/

/*	.subheader {
		margin-top: 10px;
		height: 360px;
	}*/

/*	.courses-nav_item {
		display: block;
		width: 100%;
	}*/
	.courses-nav_item:nth-child(3) .course-name{
		padding-top: 0;
	}
/*	.course-name {
		line-height: 90px;
		padding-top: 0;
		width: auto;
	}*/

	/*.offers-table {
		display: none;
	}*/

	/*.courses-promo-text {
		display: block;
		width: 100%;
	}*/

/*	.course-item {
		display: inline-block;
		margin-right: 0;
		margin-bottom: 17px;
	}*/

/*	.course-item:nth-child(3) {
		display: inline-block;
		margin-right: 0;
		margin-bottom: 0;
	}*/


	/*.course-prev, .course-next {
		display: none;
	}*/




/*single course page*/

	.single-course {
		margin-top: 35px;
	}

	.single-course-title {
		font-size: 24px;
	}

	.single-course-numbers {
		padding: 0;
	}

	.single-course-numbers span{
		font-size: 24px;
		width: 50%;
		line-height: 45px;
	}

	.single-course-text {
		font-size: 14px;
		width: 100%;
		left: 0;
	}

	.lesson__number span {
		display: none;
	}

	.lesson-tabs-link{
		height: 40px;
		min-width: 40px;
		line-height: 40px;
	}

	.lesson__number {
		margin-right: 4px;
	}
	.lesson__number:last-child {
		margin-right: 0;
	}

	.single-course-promo-text {
		display: block;
		width: 100%;
	}

}


@media screen and (max-width: 400px) {
	.course-item a {
		width: 310px;
	}
}