

/*All courses page*/
/*
.subheader {
	height: 90px;
}

.courses-nav {
	font-size: 0;
}

.courses-nav_item {
	font-size: 18px;
	display: inline-block;
	width: 25%;
	vertical-align: middle;
	transition: 0.15s background linear;
}

.course-name {
	line-height: normal;
	width: 127px;
	padding-top: 20px;
}

.courses-nav_item:nth-child(3) .course-name{
	padding-top: 34px;
}*/

/*courses-slider*/

/*.all-courses {
	padding: 40px 0 50px;
	min-height: 590px;
}

.course-item {
	margin-right: 3%;
	width: 48.5%;
	margin-bottom: 0;
}

.course-item:nth-child(2) {
	margin-right: 0;
}

.course-item:nth-child(n+3) {
	display: none;
}

.start-course:before {
	background-position: 0 0;
}*/

/*Special offers*/

/*.offers {
	padding-bottom: 62px;
}

.offers-table {
	display: table;
	text-align: right;
	font-size: 14px;
	width: 100%;
}

.offers-table th {
	color: #e86b0c;
	height: 35px;
	font-size: 18px;
}


tr td:first-child, tr th:first-child {
	text-align: left;
	width: 227px;
}

tr td:nth-child(2), tr th:nth-child(2) {
	width: 84px;
}

tr td:last-child, tr th:last-child {
	width: 132px;
}

tr td {
	font-weight: 300;
}

tr:nth-child(2n) {
	height: 28px;
}

tr:nth-child(2n+1) {
	height: 26px;
	background-color: #f9f7f7;
}

tr:first-child {
	background-color: #fff;
}
*/

/*Video learning block*/

/*.learning {
	min-height: 357px;
}

.video-container iframe {
	height: 357px;
}

.courses-promo  {
	padding: 60px 0 65px;
}

.courses-promo-text {
	width: 350px;
	margin: 0 auto;
	margin-bottom: 40px;
}

.page-footer {
	min-height: 85px;
}*/


/*single item page*/

.single-course {
	margin-top: 20px;
}

.single-course-details {
	min-height: 650px;
	padding: 50px 0 35px;
}

.single-course-info {
	min-height: 390px;
}

.single-course-numbers {
	padding-top: 20px;
}

.single-course-numbers span {
	font-size: 36px;
	width: 25%;
}

.single-course-text {
	right: 0;
	left: inherit;
	bottom: 35px;
	width: 552px;
	font-size: 24px;
	line-height: 35px;
}

.single-course-text span {
	line-height: 33px;
}


.lesson__number {
	margin-right: 7px;
}

.lesson-tabs-link {
	height: 60px;
	min-width: 60px;
	line-height: 60px;
}

.lesson__number span {
	display: inline-block;
}

.lessons-content {
	margin-bottom: 50px;
}

.lesson-details_text {
	padding-bottom: 30px;
}










